[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
aiohttp = "*"
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
beanie = "*"
motor = {extras = ["encryption"], version = "*"}
orjson = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[scripts]
bot = "python -m bot.main"
lint = "ruff check ."
format = "ruff format ."
webapp = "python -m api.app"
build = "docker build -t andrempcosta/bot-repo:latest ."
push = "docker push andrempcosta/bot-repo:latest"