[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
aiohttp = "*"
python-dotenv = "*"
fastapi = { extras = ["standard"], version = "*" }
pydantic = "*"
beanie = "*"
motor = { extras = ["encryption"], version = "*" }
orjson = "*"
numpy = "*"
opencv-python = "*"
rapidocr-onnxruntime = "*"
pillow = "*"
aioredis = "*"
dateparser = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"
pytest = "==8.1.1"
pytest-asyncio = "==0.21.1"

[requires]
python_version = "3.10"

[scripts]
bot = "python -m bot.main"
lint = "ruff check ."
test = "pytest -ra --disable-warnings --asyncio-mode auto"
format = "ruff format ."
webapp = "python -m api.app"
build = "docker build -t andrempcosta/bot-repo:latest ."
push = "docker push andrempcosta/bot-repo:latest"
